
<div class="row">
    <div class="col-lg-12">
        <svg viewBox="0 0 900 500">
            <!--  <rect width="900" height="500" style="stroke-width:2;stroke:rgb(0,0,0)" />-->


            <text class="aislefont" x="420" y="75">Back Wall</text>


            <g class="sectiongroup hotdogssection">
                <rect id="hotdogsrect" class="aislesection" width="150" height="50" x="0" y="0" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="hotdogs" onclick="SectionClick(this.id)"  x="50" y="25" class="btn sectionfont">hot dogs</text>
            </g>

            <g class="sectiongroup puddingsection">
                <rect id="puddingrect" class="aislesection" width="150" height="50" x="150" y="0" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="pudding" onclick="SectionClick(this.id)"  x="200" y="25" class="btn sectionfont">pudding</text>
            </g>

            <g class="sectiongroup cheesesection">
                <rect id="cheeserect" class="aislesection" width="150" height="50" x="300" y="0" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="cheese" onclick="SectionClick(this.id)"  x="350" y="25" class="btn sectionfont">cheese</text>
            </g>

            <g class="sectiongroup yogurtsection">
                <rect id="yogurtrect" class="aislesection" width="150" height="50" x="450" y="0" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="yogurt" onclick="SectionClick(this.id)"  x="500" y="25" class="btn sectionfont">yogurt</text>
            </g>

            <g class="sectiongroup coffeecreamersection">
                <rect id="coffeecreamerrect" class="aislesection" width="150" height="50" x="600" y="0" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="coffeecreamer" onclick="SectionClick(this.id)"  x="625" y="25" class="btn sectionfont">coffee creamer</text>
            </g>
            <g id="milkrect" class="sectiongroup milksection">
                <rect id="milkrect" class="aislesection" width="150" height="50" x="750" y="0" style="stroke-width:2;stroke:rgb(0,0,0)" />
                <text id="milk" onclick="SectionClick(this.id)"  x="800" y="25" class="btn sectionfont">milk</text>
                @*<text id="milk" onclick="SectionClick(this.id)" data-toggle="modal" data-target="#SectionModal" x="800" y="25" class="btn sectionfont">milk</text>*@
            </g>

            <text class="aislefont" x="50" y="250">1</text>

            @*aisle 1*@

            <g class="sectiongroup coffeesection">
                <rect class="aislesection" width="50" height="100" x="100" y="300" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="coffee" transform="rotate(90, 125,330)"  onclick="SectionClick(this.id)" x="125" y="330" class="btn sectionfont">Coffee</text>
            </g>


            <g class="sectiongroup teasection">
                <rect class="aislesection" width="50" height="100" x="100" y="200" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="tea" onclick="SectionClick(this.id)"  transform="rotate(90, 125,230)" x="125" y="230" class="btn sectionfont">Tea</text>
            </g>


            <g class="sectiongroup hotcocoasection">
                <rect id="cocoa" class="btn aislesection" onclick="SectionClick(this.id)" width="50" height="100" x="100" y="100" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="hotcocoa" transform="rotate(90, 125,120)" x="125" y="120"  onclick="SectionClick(this.id)" class="btn sectionfont">Hot Cocoa</text>
            </g>


            <g class="sectiongroup cereal1section">
                <rect class="aislesection" width="50" height="100" x="150" y="300" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="cereal1" transform="rotate(90, 175,330)"  x="175" y="330" class="btn sectionfont" onclick="SectionClick(this.id)">Cereal</text>
            </g>

            <g class="sectiongroup cereal2section">
                <rect class="aislesection" width="50" height="100" x="150" y="200" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="cereal2" transform="rotate(90, 175,230)" x="175" y="230" class="btn sectionfont" onclick="SectionClick(this.id)">Cereal</text>
            </g>

            <g class="sectiongroup cereal3section">
                <rect class="aislesection" width="50" height="100" x="150" y="100" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="cereal3" onclick="SectionClick(this.id)"  transform="rotate(90, 175,130)" x="175" y="130" class="btn sectionfont">Cereal</text>
            </g>


            <text class="aislefont" x="250" y="250">2</text>

            @* aisle 2*@
            <g class="sectiongroup pbandjsection">
                <rect class="aislesection" width="50" height="100" x="300" y="300" style="stroke-width:2;stroke:rgb(0,0,0)" />


                <text id="pbandj" onclick="SectionClick(this.id)"  transform="rotate(90, 325, 330)" x="325" y="330" class="btn sectionfont">PB&J</text>

            </g>


            <g class="sectiongroup pancakesuppliessection">
                <rect class="aislesection" width="50" height="100" x="300" y="200" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="pancakesupplies" onclick="SectionClick(this.id)" transform="rotate(90, 330,230)" x="330" y="230" class="btn sectionfont">Pancake </text>

                <text id="pancakesupplies" onclick="SectionClick(this.id)"  transform="rotate(90, 318,230)" x="318" y="230" class="btn sectionfont">supplies</text>
            </g>



            <g class="sectiongroup granolabarssection">
                <rect class="aislesection" width="50" height="100" x="300" y="100" style="stroke-width:2;stroke:rgb(0,0,0)" />


                <text id="granolabars" onclick="SectionClick(this.id)"  transform="rotate(90, 330,130)" x="330" y="130" class="sectionfont">Granola</text>

                <text id="granolabars" onclick="SectionClick(this.id)"  transform="rotate(90, 318,130)" x="318" y="130" class="sectionfont">bars</text>
            </g>





            <g class="sectiongroup oliveandvegoilsection">
                <rect class="aislesection" width="50" height="100" x="350" y="300" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="oliveandvegoil" onclick="SectionClick(this.id)"  transform="rotate(90, 380, 330)" x="380" y="330" class="btn sectionfont">Olive Oil</text>

                <text id="oliveandvegoil" onclick="SectionClick(this.id)"  transform="rotate(90, 365, 330)" x="365" y="330" class="btn sectionfont">Veg. Oil</text>
            </g>

            <g class="sectiongroup cakemixsection">
                <rect class="aislesection" width="50" height="100" x="350" y="200" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="cakemix" onclick="SectionClick(this.id)"  transform="rotate(90, 375, 220)" x="375" y="220" class="btn sectionfont">Cake mix</text>
            </g>

            <g class="sectiongroup sugarandfloursection">
                <rect class="aislesection" width="50" height="100" x="350" y="100" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="sugarandflour" onclick="SectionClick(this.id)"  transform="rotate(90, 380, 130)" x="380" y="130" class="btn sectionfont">Sugar &</text>

                <text id="sugarandflour" onclick="SectionClick(this.id)"  transform="rotate(90, 365, 130)" x="365" y="130" class="btn sectionfont">flour</text>
            </g>


            <text class="aislefont" x="450" y="250">3</text>

            @* aisle 3*@


            <g class="sectiongroup spicessection">
                <rect class="aislesection" width="50" height="100" x="500" y="300" style="stroke-width:2;stroke:rgb(0,0,0)" />
                @*<text id="spices" onclick="SectionClick(this.id)" data-toggle="modal" data-target="#SectionModal" transform="rotate(90, 525, 330)" x="525" y="330" class="btn sectionfont">Spices</text>*@

                <text id="spices" onclick="SectionClick(this.id)"  transform="rotate(90, 525, 330)" x="525" y="330" class="btn sectionfont">Spices</text>
            </g>

            <g class="sectiongroup bakingsuppliessection">
                <rect class="aislesection" width="50" height="100" x="500" y="200" style="stroke-width:2;stroke:rgb(0,0,0)" />


                <text id="bakingsupplies" onclick="SectionClick(this.id)"  transform="rotate(90, 530, 230)" x="530" y="230" class="btn sectionfont">Baking</text>

                <text id="bakingsupplies" onclick="SectionClick(this.id)"  transform="rotate(90, 518, 230)" x="518" y="230" class="btn sectionfont">Supplies</text>
            </g>


            <g class="sectiongroup foreignsection">
                <rect class="aislesection" width="50" height="100" x="500" y="100" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="foreign" onclick="SectionClick(this.id)"  transform="rotate(90, 525, 130)" x="525" y="130" class="btn sectionfont">Foreign</text>
            </g>



            <g class="sectiongroup fruitandveggiessection">
                <rect class="aislesection" width="50" height="100" x="550" y="300" style="stroke-width:2;stroke:rgb(0,0,0)" />


                <text id="fruitandveggies" onclick="SectionClick(this.id)"  transform="rotate(90, 580, 320)" x="580" y="320" class="btn sectionfont">Canned</text>

                <text id="fruitandveggies" onclick="SectionClick(this.id)"  transform="rotate(90, 565, 320)" x="565" y="320" class="btn sectionfont">Fr & Veg.</text>
            </g>

            <g class="sectiongroup seasoningpacketssection">
                <rect class="aislesection" width="50" height="100" x="550" y="200" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="seasoningpackets" onclick="SectionClick(this.id)"  transform="rotate(90, 580, 220)" x="580" y="220" class="btn sectionfont">Seasoning</text>

                <text id="seasoningpackets" onclick="SectionClick(this.id)"  transform="rotate(90, 565, 220)" x="565" y="220" class="btn sectionfont">Packets</text>
            </g>


            <g class="sectiongroup tortillasandricesection">
                <rect class="aislesection" width="50" height="100" x="550" y="100" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="tortillasandrice" onclick="SectionClick(this.id)"  transform="rotate(90, 580, 120)" x="580" y="120" class="btn sectionfont">tortillas</text>

                <text id="tortillasandrice" onclick="SectionClick(this.id)" transform="rotate(90, 565, 120)" x="565" y="120" class="btn sectionfont">& rice</text>
            </g>

            <text class="aislefont" x="650" y="250">4</text>

            @*aisle 4*@

            <g class="sectiongroup saucesection">
                <rect id="sauce" class="btn aislesection" onclick='SectionClick()' width="50" height="100" x="700" y="300" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="sauce" onclick="SectionClick(this.id)"  transform="rotate(90, 725, 320)" x="725" y="320" class="btn sectionfont"> Sauces </text>

            </g>


            <g class="sectiongroup packagednoodlessection">
                <rect class="aislesection" width="50" height="100" x="700" y="200" style="stroke-width:2;stroke:rgb(0,0,0)" />
                <text id="packagednoodles" onclick="SectionClick(this.id)"  transform="rotate(90, 730, 220)" x="730" y="220" class="btn sectionfont">Packaged</text>

                <text id="packagednoodles" onclick="SectionClick(this.id)"  transform="rotate(90, 715, 220)" x="715" y="220" class="btn sectionfont"> Noodles</text>
            </g>

            <g class="sectiongroup mexandspanishsection">
                <rect class="aislesection" width="50" height="100" x="700" y="100" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="mexandspanish" onclick="SectionClick(this.id)"  transform="rotate(90, 730, 120)" x="730" y="120" class="btn sectionfont">Mexican &</text>

                <text id="mexandspanish" onclick="SectionClick(this.id)"  transform="rotate(90, 715, 120)" x="715" y="120" class="btn sectionfont"> Spanish</text>

            </g>

            <g class="sectiongroup cannedsoupsection">
                <rect class="aislesection" width="50" height="100" x="750" y="300" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="cannedsoup" onclick="SectionClick(this.id)"  transform="rotate(90, 780, 318)" x="780" y="320" class="btn sectionfont"> Canned</text>
                <text id="cannedsoup" onclick="SectionClick(this.id)"  transform="rotate(90, 765, 320)" x="765" y="320" class="btn sectionfont"> Soup</text>

            </g>


            <g class="sectiongroup cannedmealssection">
                <rect class="aislesection" width="50" height="100" x="750" y="200" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="cannedmeals" onclick="SectionClick(this.id)"  transform="rotate(90, 780, 220)" x="780" y="220" class="btn sectionfont">Canned</text>

                <text id="cannedmeals" onclick="SectionClick(this.id)"  transform="rotate(90, 765, 218)" x="765" y="218" class="btn sectionfont">Meals</text>

            </g>


            <g class="sectiongroup tunaandfishsection">
                <rect class="aislesection" width="50" height="100" x="750" y="100" style="stroke-width:2;stroke:rgb(0,0,0)" />

                <text id="tunaandfish" onclick="SectionClick(this.id)"  transform="rotate(90, 780, 120)" x="780" y="120" class="btn sectionfont">Canned</text>

                <text id="tunaandfish" onclick="SectionClick(this.id)"  transform="rotate(90, 765, 118)" x="765" y="118" class="btn sectionfont"> Tuna & Fish</text>
            </g>


            <text class="aislefont" x="850" y="250">5</text>

        </svg>
    </div>
</div>


@*<div class="modal fade" id="SectionModal" tabindex="-1" role="dialog" aria-labelledby="SectionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="SectionModalh1"></h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered modaltable" id="sectionlisttable" style="padding: 10px; font-size: large">
                        <thead>
                            <tr>
                                <th>
                                    Item Name
                                </th>
                                <th>
                                    Instock
                                </th>
                                <th>
                                    How Many Instock
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Add To List
                                </th>
                            </tr>
                        </thead>
                        <tbody id="sectionmodalbody"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@



<div id="SectionModal">
    <div>
        <h1 id="SectionModalh1"></h1>
    </div>
    <div class="modal-body">
        <table class="table table-bordered modaltable" id="sectionlisttable" style="padding: 10px; font-size: large">
            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Instock
                    </th>
                    <th>
                        How Many Instock
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Add To List
                    </th>
                </tr>
            </thead>
            <tbody id="sectionmodalbody"></tbody>
        </table>
    </div>
</div>